{% extends 'index.html' %}
{% load static %}
{% block 'content' %}
        <div class="section section-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Шаг 1: Выберите показатели соответствующие виду деятельности Вашей организации</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 faq-wrapper">
						<div class="panel-group" id="accordion2">
                            {% if indicators %}
                                {% for indicator in indicators %}
                                    <div class="panel panel-default">

                                            <div class="panel-heading">
                                                <div class="row ">
                                                    <div class="col-md-10 col-sm-6">
                                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{ indicator.id }}">
                                                            {{ indicator.name }}
                                                        </a>
                                                    </div>
                                                    <div class="col-md-2 col-sm-6">

                                                            {% if indicator.id in list_id_in_set %}
                                                                <a href="{% url 'set:remove_from_set' indicator.id %}" class="btn chs-del">Удалить</a>
                                                            {% else %}
                                                                <a href="{% url 'set:add_indicator' indicator.id %}" class="btn chs-del">Выбрать</a>
                                                            {% endif %}

                                                    </div>
                                                </div>
                                            </div>

                                        <div id="collapse{{ indicator.id }}" class="accordion-body collapse" style="height: 0px;">
                                            <div class="accordion-inner">
                                                <div class="answer">Краткое описание:</div>
                                                <p>{{ indicator.description }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}

                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-warning" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
						</div>
					</div>
				</div>
            </div>
	    </div>
        <div class="section section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="calltoaction-wrapper">
                            <a href="{% url 'set:set_detail' %}" class="btn btn-orange">Перейти к списку выбранных показателей</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	    <script type="text/javascript">



        </script>

{% endblock %}