{% extends 'index.html' %}
{% load static %}

{% block title %}Главная{% endblock %}
{% block 'content' %}
        <!-- Homepage Slider -->
        <div class="homepage-slider">
        	<div id="sequence">
				<ul class="sequence-canvas">
					<!-- Slide 1 -->
					<li class="bg4">
						<!-- Slide Title -->
<!--						<h2 class="title">Платформа оценки уровня цифровизации</h2>-->
<!--						&lt;!&ndash; Slide Text &ndash;&gt;-->
<!--						<h3 class="subtitle">Измерение на основе совокупности частных показателей автоматизации и информатизации</h3>-->
					</li>
					<!-- End Slide 1 -->
					<!-- Slide 2 -->
					<li class="bg3">
						<!-- Slide Title -->
<!--						<h2 class="title">Платформа оценки уровня цифровизации</h2>-->
						<!-- Slide Text -->
<!--						<h3 class="subtitle">Методика разработана с учетом специфики деятельности организаций (предприятиЙ) функциональных сфер Республики Беларусь</h3>-->
					</li>
					<!-- End Slide 2 -->
					<!-- Slide 3 -->
					<li class="bg1">
						<!-- Slide Title -->
<!--						<h2 class="title">Платформа оценки уровня цифровизации</h2>-->
						<!-- Slide Text -->
<!--						<h3 class="subtitle">Расчет с учетом существующей структуры организации(предприятия) без изменения перечня бизнес-процессов и связей между ними</h3>-->
					</li>
					<!-- End Slide 3 -->
				</ul>
				<div class="sequence-pagination-wrapper">
					<ul class="sequence-pagination">
						<li>1</li>
						<li>2</li>
						<li>3</li>
					</ul>
				</div>
			</div>
        </div>
        <!-- End Homepage Slider -->
			<div class="section">
				<div class="container">
					<h2>Платформа оценки уровня цифровизации</h2>
					<div class="row">
						<!-- Image Column -->
						<div class="col-sm-5">
							<div class="portfolio-item">
								<div class="portfolio-image">
									<a href="#"><img src="{% static 'img/service-icon/95.gif' %}" alt="Project Name"></a>
								</div>
							</div>
						</div>
						<!-- End Image Column -->
						<!-- Project Info Column -->
						<div class="portfolio-item-description col-sm-6">
							<p><h4>Платформа позволяет оценить уровень цифровизации как отдельного предприятия (организации), так  и отрасли в целом.</h4></p>
							<p><h4>Измерение на основе совокупности частных показателей автоматизации и информатизации</h4></p>
							<p><h4>Расчет с учетом существующей структуры организации(предприятия) без изменения перечня бизнес-процессов и связей между ними</h4></p>
							<p><h4>Методика оценки разработана с учетом специфики деятельности организаций (предприятиЙ) функциональных сфер Республики Беларусь</h4></p>
						</div>
						<!-- End Project Info Column -->
					</div>
					</div>
			</div>
		<!-- Services -->
        <div class="section">
	        <div class="container">
				<h2>Возможности платформы</h2>
	        	<div class="row">
					<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper opportunity">
							<img src="{% static 'img/service-icon/diamond.png' %}" alt="Service 1">
		        			<h3>Оценка цифровизации организаций</h3>
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper opportunity">
							<img src="{% static 'img/service-icon/box.png' %}" alt="Service 3">
		        			<h3>Просмотр статистических данных</h3>
		        		</div>
	        		</div>
	        		<div class="col-md-4 col-sm-6">
	        			<div class="service-wrapper opportunity">
		        			<img src="{% static 'img/service-icon/ruler.png' %}" alt="Service 2">
		        			<h3>Ведение личного кабинета представителей</h3>
		        		</div>
	        		</div>
	        	</div>
				<h2>Как пользоваться платформой?</h2>
				<div class="section">
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<div class="pricing-wrapper">
											<div class="pricing-plan">
												<h2 class="pricing-plan-title">Шаг 1</h2>
												<img class="img-step" src="{% static 'img/service-icon/check.png' %}" alt="Service 2">
												<ul class="pricing-plan-features">
													<li><strong>Выбрать показатели характеризующие вид деятельности</strong></li>
												</ul>
											</div>
											<div class="pricing-plan">
												<h2 class="pricing-plan-title">Шаг 2</h2>
												<img class="img-step" src="{% static 'img/service-icon/clipboard.png' %}" alt="Service 2">
												<ul class="pricing-plan-features">
													<li><strong>Перейти к списку выбранных показателей</strong></li>
												</ul>
											</div>
											<div class="pricing-plan">
													<h2 class="pricing-plan-title">Шаг 3</h2>
													<img class="img-step" src="{% static 'img/service-icon/compose.png' %}" alt="Service 2">
													<ul class="pricing-plan-features">
														<li><strong>Заполнить опросные листы</strong></li>
														<br>
													</ul>
											</div>
											<div class="pricing-plan">
												<h2 class="pricing-plan-title">Шаг 4</h2>
													<img class="img-step" src="{% static 'img/service-icon/memorycard.png' %}" alt="Service 2">
												<ul class="pricing-plan-features">
													<li><strong> Сохранить результат</strong></li>
													<br>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
				</div>
	        </div>
	    </div>
	    <!-- End Services -->
		<!-- Call to Action Bar -->
	    <div class="section section-white">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="calltoaction-wrapper">
							<a href="{% url 'choose_indicator' %}" class="btn-main btn-secondary">Рассчитать показатель цифровизации</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Call to Action Bar -->
		<!-- Our Clients -->
	    <div class="section">
	    	<div class="container">
	    		<h2>Методика расчета применима для организаций/предприятий отраслей и функциональных сфер Республики Беларусь</h2>
				<div class="clients-logo-wrapper text-center row">
					<div class="col-lg-2 col-md-1 col-sm-3 col-xs-6">Образование и наука</div>
					<div class="col-lg-2 col-md-1 col-sm-3 col-xs-6">Сельское хозяйство</div>
					<div class="col-lg-2 col-md-1 col-sm-3 col-xs-6">Здравоохранеие</div>
					<div class="col-lg-2 col-md-1 col-sm-3 col-xs-6">Нефтехимическая промышленность</div>
					<div class="col-lg-2 col-md-1 col-sm-3 col-xs-6">Транспорт и коммуникации</div>
					<div class="col-lg-2 col-md-1 col-sm-3 col-xs-6">Природные ресурсы и охрана окружающей среды</div>
					<div class="col-lg-2 col-md-1 col-sm-3 col-xs-6">Лесное хозяйство</div>

					<div class="col-lg-2 col-md-1 col-sm-3 col-xs-6">Архитектура и строительство</div>
					<div class="col-lg-2 col-md-1 col-sm-3 col-xs-6">Пищевая промышленность</div>
					<div class="col-lg-2 col-md-1 col-sm-3 col-xs-6">Энергетика</div>
					<div class="col-lg-2 col-md-1 col-sm-3 col-xs-6">Связь и информатизация</div>

					<div class="col-lg-2 col-md-1 col-sm-3 col-xs-6">Легкая промышленность</div>
				</div>
			</div>
	    </div>
	    <!-- End Our Clients -->

{% endblock %}