{% extends 'index.html' %}
{% block title %}Регистрация{% endblock %}
{% block 'content' %}
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h1 class="header-text">Изменение данных профиля</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
	    	<div class="container">
				<div class="row">
					<div class="col-sm-1 col-sm-offset-1 social-login"></div>
						<div class="col-sm-5" >
							<div class="basic-login">
								<form role="form" method="post" action="{% url 'account:update_user' %}">
									{% csrf_token %}
									{% if messages  %}
										{% for message in messages %}
											<div class="alert alert-success" role="alert">
												{{ message }}
											</div>
										{% endfor %}
									{% endif %}

									{% for field in form %}
									<div class="form-group">

										{% if field.errors %}
											{% for error in field.errors %}
												<div class="alert alert-danger">
													{{error}}
												</div>
											{% endfor %}
										{% endif %}
										{{field.label_tag}}
										{{field}}
									</div>
									{% endfor %}
									<div class="row">
										<div class="col-sm-9" >
											<div class="form-group">
												<button type="submit" class="btn register col-md-offset-4">Сохранить изменения</button>
												<div class="clearfix"></div>
											</div>
										</div>
									</div>
								</form>
								<div class="row">
									<div class="col-sm-9" >
										<div class="form-group">
											<a href="{% url 'account:del_user' %}"><button type="submit" onclick="return Validator()" id="del-account-btn" class="btn register col-md-offset-5">Удалить аккаунт</button></a>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>

							</div>
						</div>
				</div>
			</div>
		</div>
{% endblock %}

{% block script %}
    <script>
		function Validator(){
		   if(confirm("Подтвердите удаление аккаунта") ){
			  document.getElementById('del-account-btn').submit();
			  return(true);
		   }else{
			  return(false);
		   }
		}
    </script>
{% endblock %}