{% extends 'index.html' %}
{% load static %}
{% block title %}Показатели{% endblock %}
{% block 'content' %}
        <div class="section section-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Шаг 2: Заполните опросные листы</h1>
                    </div>
                </div>
            </div>
        </div>
      <div class="section">
	    	<div class="container">
	    		<div class="row">
	    			<div class="col-md-12">
	    				<table class="events-list">
                                {% if interim_set %}
                                        <tr>
                                            <td>
                                                <div >
                                                    <div class="event-day castom"><b>№</b></div>
                                                </div>
                                            </td>
                                            <td>
                                                <b>Наименование показателя</b>
                                            </td>
                                            <td class="event-venue hidden-xs"><i class="icon-map-marker"></i>
                                                <b>Бизнес-процесс</b>
                                            </td>
                                            <td class="event-price hidden-xs"><b>Значение</b></td>
                                        </tr>
                                    {% for indicator in interim_set.values %}
                                        <tr>
                                            <td>
                                                <div class="event-date">
                                                    <div class="event-day">{{ forloop.counter }}</div>
                                                    <div class="event-month"><a href=""></a></div>
                                                </div>
                                            </td>
                                            <td>
                                                {{ indicator.name }}
                                            </td>
                                            <td class="event-venue hidden-xs"><i class="icon-map-marker"></i>
                                                {% if indicator.business_process %}
                                                    {{ indicator.business_process }}
                                                {% else %}
                                                    Не выбран
                                                {% endif %}
                                            </td>
                                            <td class="event-price hidden-xs">{{ indicator.value }}</td>
                                            <td><a href="{% url 'calculating:questionnaire' indicator.id %}" class="btn waves-effect waves-light hor-grd btn-grd-inverse">Опросный лист</a></td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-1 social-login">
                                            <p class="text-center" style="padding-left:70px">Нет выбранных показателей!</p>
                                        </div>
                                    </div>
                                {% endif %}
	    				</table>
                        {% if error_message %}
                            <div class="alert alert-warning" role="alert">
                                {{ error_message }}
                            </div>
                        {% endif %}

	    			</div>
	    		</div>
			</div>
		</div>

        <div class="section section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="calltoaction-wrapper">
                            <a href="{% url 'calculating:get_result_of_value' %}" class="go-choosen-list">
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                  <span></span>
                                Рассчитать показатель цифровизации</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}