{% extends 'index.html' %}
{% load static %}
{% block 'content' %}
	<div class="section section-breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h1>Описание методики</h1>
				</div>
			</div>
		</div>
	</div>
<div class="section">
	    	<div class="container">
				<div class="row">
					<!-- Blog Post -->
					<div class="col-sm-8">
						<div class="blog-post blog-single-post">
							<div class="single-post-title">
								<h3>Методика формирования показателей</h3>
							</div>
							<div class="single-post-info">

							</div>
							<div class="single-post-image">
								<img src="{% static 'img/description/analitika.jpg' %}" class="img-desc" alt="Post Title">
							</div>
							<div class="single-post-content">
								<p>
									При определении совокупности частных показателей для отдельного предприятия
									(организации), рассматриваемого как система во взаимосвязи с внешними объектами,
									необходимо обеспечить выполнение общесистемных требований к показателям:
								</p>
								<ul>
									<li>
										адекватность: показатель должен соответствовать цели функционирования
										системы и охватывать все существенные аспекты ее достижения;
									</li>
									<li>
										измеримость: значение показателя всегда можно измерить в некоторой шкале
										и выполнить над ним допустимые математические преобразования;
									</li>
									<li>
										точность: погрешности измерения показателя не должны приводить
										к искаженному представлению о результатах функционирования системы;
									</li>
									<li>
										объективность (корректность): не допускается использование показателей,
										улучшение значений которых возможно при ухудшении реального положения дел;
									</li>
									<li>
										достоверность: способ сбора и обработки исходной информации должен допускать
										возможность проверки точности полученных данных в процессе независимого
										мониторинга и оценки;
									</li>
									<li>
										однозначность (содержательность): определение показателя должно обеспечивать
										одинаковое понимание существа измеряемой характеристики свойства объекта как
										специалистами, так и конечными потребителями услуг, включая индивидуальных
										потребителей, для чего следует избегать излишне сложных показателей и
										показателей, не имеющих четкого, общепринятого определения и единиц измерения;
									</li>
									<li>
										полнота: векторный показатель эффективности должен содержать такое минимально
										возможное количество частных показателей, которое позволит наиболее полно и адекватно
										отразить цель и результат функционирования системы;
									</li>
									<li>
										экономичность: получение отчетных данных должно проводиться с минимально возможными
										затратами; применяемые показатели должны в максимальной степени основываться на уже
										существующих процедурах сбора информации;
									</li>
									<li>
										сопоставимость: выбор показателей следует осуществлять исходя из необходимости
										непрерывного накопления данных и обеспечения их сопоставимости за отдельные
										периоды и с показателями, используемыми в сходных (смежных) системах, а также
										с показателями, используемыми в международной практике;

									</li>
									<li>
										своевременность и регулярность: значения показателей должны фиксироваться
										со строго определенной периодичностью и с незначительным временным лагом
										между моментом сбора информации и сроком ее использования.
									</li>
								</ul>
								<p>Для выполнения указанных требований к показателям необходим обобщенный анализ
								бизнес-процессов на предприятии (в организации).</p>
								<p>
									Существуют следующие виды бизнес-процессов:
								</p>
								<ul>
									<li>
										<b>управления </b> - бизнес-процессы, которые управляют функционированием системы
										(например: корпоративное управление и стратегический менеджмент);
									</li>

									<li>
										<b>операционные (основные)</b> - бизнес-процессы, которые составляют основной
										бизнес компании и создают основной поток доходов (например: снабжение,
										производство, маркетинг, продажи и взыскание долгов);
									</li>
									<li>
										<b>поддерживающие (обеспечивающие)</b> - бизнес-процессы, которые обслуживают
										основной бизнес (например: бухгалтерский учет, подбор персонала,
										техническая поддержка, административно-хозяйственный отдел)
									</li>
									<li>
										<b>развития</b> - бизнес-процессы, которые обеспечивают совершенствование
										деятельности и направлены на получение прибыли в долгосрочной перспективе.
									</li>
								</ul>
								<div class="single-post-image">
									<img src="{% static 'img/description/bs.png' %}" class="img-desc-schema" alt="Post Title">
								</div>
								<p>
									Технологические решения, реализованные в каждом конкретном бизнес-процессе,
									характеризуются показателем автоматизации. Свойства внешних и внутренних
									информационных потоков (сведения о потребляемых ресурсах, спросе, произведенном
									продукте, управленческие решения и различные показатели) характеризуются показателем
									информатизации. В свою очередь, автоматизация и информатизация обеспечиваются компьютеризацией.
								</p>
								<div class="single-post-image">
									<img src="{% static 'img/description/bs22.png' %}" class="img-desc-schema" alt="Post Title">
								</div>
								<p>
									Поскольку целью цифровизации является повышение качества управленческих решений,
									то и сам процесс цифровизации охватывает систему управления предприятием (организацией),
									включающую руководство, владельцев бизнес-процессов и используемый цифровой актив.
								</p>
								<div class="single-post-image">
									<img src="{% static 'img/description/bs2.png' %}" class="img-desc-schema" alt="Post Title">
								</div>
								<p>
									Цифровизация предусматривает автоматизацию решения,
									на основе использования цифрового актива, таких задач как:
								</p>
								<ul>
									<li>
										сбор данных (свой бизнес, поставщики, потребители, конкуренты, состояние рынка,
										логистика, предпочтения вышестоящей системы, тенденции рынка);
									</li>
									<li>
										динамическая аналитика (рынок, удовлетворенность потребителей, свой бизнес);
									</li>
									<li>
										 поддержка принятия решений должностными лицами;
									</li>
									<li>
										реализация принятых решений с использованием человекозаменяющих управляющих систем.
									</li>
								</ul>
								<p>
									Таким образом, методика определения совокупности частных показателей уровней автоматизации,
									информатизации и цифровизации отдельного предприятия (организации), производящей товары и/или услуги
									с учетом целей функционирования, выполняемых функций, внутренних и внешних связей, органа управления
									данного предприятия (организации) состоит в выполнении последовательности следующих операций:
								</p>
								<ul>
									<li>
										выполнение бизнес-аудита предприятия (организации) и формализация бизнес-модели;
									</li>
									<li>
										структурирование (группирование) бизнес-процессов,
										уточнение количества групп независимых бизнес-процессов, их состава и весового коэффициента
										в соответствии с целями и профилем деятельности предприятия (организации);
									</li>
									<li>
										определение структуры предприятия (организации), состава руководства и владельцев бизнес-процессов;
									</li>
									<li>
										описание (формализация) внешних и внутренних связей;
									</li>
									<li>
										оценка необходимого и достаточного уровней компьютеризации, уточнение оценочной шкалы, определение
										значения показателя уровня компьютеризации предприятия (организации);
									</li>
									<li>
										Для каждой группы независимых бизнес-процессов оценка необходимого и достаточного уровней
										информатизации, формирование оценочной шкалы, определение значения показателя уровня информатизации
										предприятия (организации);
									</li>
									<li>
										Для каждой группы независимых бизнес-процессов оценка необходимого и достаточного уровней автоматизации,
										формирование оценочной шкалы, определение значения показателя уровня автоматизации предприятия (организации);
									</li>
									<li>
										Оценка необходимого и достаточного базиса цифровизации, уточнение оценочной шкалы, определение значения показателя
										уровня цифровизации предприятия (организации);
									</li>
								</ul>
								<p>
									Исходя из этого, частные показатели оценки уровня цифровизации предприятий (организаций) отраслей и функциональных сфер
									экономики разработаны на основе обобщенной методики определения совокупности частных показателей
									уровней автоматизации, информатизации и цифровизации отдельного предприятия (организации), производящей товары и/или услуги.
								</p>
							</div>
							<!-- Comments -->

						</div>
					</div>
					<!-- End Blog Post -->
				</div>
			</div>
</div>
{% endblock %}

