{% extends 'index.html' %}
{% load static %}
{% block 'content' %}
        <div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1>Общие сведения</h1>
					</div>
				</div>
			</div>
		</div>

       <div class="section">
	    	<div class="container">
				<div class="row">
					<!-- Blog Post -->
					<div class="col-sm-8 main-info">
						<div class="blog-post blog-single-post">
							<div class="single-post-title">
								<h3>Что мы понимаем под цифровизацией?</h3>
							</div>
							<div class="single-post-info">

							</div>
							<div class="single-post-image">
								<img src="{% static 'img/description/digital_transf.jpg' %}" class="img-desc" alt="Digital image">
							</div>
							<div class="single-post-content">

								<p>
									Цифровизация - новый этап автоматизации и информатизации экономической деятельности
									и государственного управления, процесс перехода на цифровые технологии, в основе
									которого лежит не только использование для решения задач производства или управления
									информационно-коммуникационных технологий, но также накопление и анализ с их помощью
									больших данных  в целях прогнозирования ситуации, оптимизации процессов и затрат,
									привлечения новых контрагентов и т. д.
								</p>
								<h3>Чем достигается цифровизация?</h3>
								<p>
									Цифровизация достигается - внедрением системы решений (сервисов, услуг,
									приложений и т.д.) на основе современных ИКТ, использующих цифровой актив
									(система знаний о бизнесе и внешней среде в цифровом формате, на которую
									распространяются право собственности и/или право пользования).
								</p>
								<h3>Предпосылки внедрения цифровизации</h3>
								<p>
									Предпосылками отраслевой цифровизации являются большой объем хранимой и
									обрабатываемой информации, потребности в инновационных решениях, которые
									могут быть реализованы на основе цифровой трансформации в целях оптимизации
									бизнес-процессов, сокращении расходов и появлении новых источников отраслевых
									доходов.
								</p>
								<p>
									Предпосылками цифровизации на уровне отдельной организации (предприятия) являются
									осознание и понимание руководством острой необходимости улучшения процессов
									производственно-хозяйственной деятельности, адаптации действующей бизнес-модели
									к новым условиям, внедрения новых ИКТ для повышения эффективности компании,
									повышения корпоративной культуры на базе цифровой трансформации.
								</p>
								<p>
									Предпосылкой цифровизации в обычной жизни граждан является использование
									персональных компьютеров и мобильных устройств в информационно-телекоммуникационной
									сети интернет.
								</p>
							</div>
							<!-- Comments -->

						</div>
					</div>
					<!-- End Blog Post -->
					<!-- Sidebar -->
					<div class="col-sm-4 blog-sidebar">
						<h4>Навигация</h4>
						<ul class="recent-posts">
							<li><a href="{% url 'total_info' %}">Общие сведения</a></li>
							<li><a href="{% url 'formation_indicators' %}">Методика формирования показателей</a></li>
							<li><a href="{% url 'methods' %}">Методика оценки цифровизации</a></li>
						</ul>
					</div>
					<!-- End Sidebar -->
				</div>
			</div>
	    </div>

{% endblock %}

{% block script %}
    <script>
		        $(document).ready(function(){
						$(document).on("click", 'ul.recent-posts a', function(e) {
                            e.preventDefault()
                            let page_url = $(this).attr('href')
                            $.ajax({
                                url: page_url,
                                type: 'GET',
                                dataType: 'html',
                                success: (data) => {
                                     var data = $.parseHTML(data);
                                    $('.main-info').empty()
                                    $('.main-info').append( $(data).find('.blog-single-post') )
                                }
                            })
                        })

		        })

    </script>
{% endblock %}