* {
	margin: 0;
	padding: 0;
}
.content {
	min-height: calc(100vh - 246px);
}

img.logo {
    width: 200px;
}

.event-day.castom {
    text-align: center;
}

td.event-price.hidden-xs {
    text-align: right;
}



img.img-step {
    width: 90px;
    margin-bottom: 25px;
}



/*CHECKBOXSTYLE*/

.checkbox,
.radio {
 display: inline-block;
 margin-bottom: 15px;
}
.checkbox:hover,
 .radio:hover {
 cursor: pointer;
}
.checkbox .fa,
 .radio .fa {
 width: 1em;
}
.indent {
 padding-left: 30px;
}
.indent .fa {
 margin-left: -30px;
}
.checkbox input[type="checkbox"],
.radio input[type="radio"] {
 display: none;
}
.checkbox input[type="checkbox"] + i:before,
 .radio input[type="radio"] + i:before {
 content: "\f096";
 position: relative;
 bottom: -4px;
 margin-right: 5px;
 color: #999;
}
.checkbox:hover input[type="checkbox"] + i:before,
.radio:hover input[type="radio"] + i:before {
 color: green;
}
.checkbox input[type="checkbox"]:checked + i:before,
.radio input[type="radio"]:checked + i:before {
 content: "\f046";
 color: green;
}
.checkbox input[type="checkbox"]:disabled + i:before,
.checkbox input[type="checkbox"]:disabled:checked + i:before,
.radio input[type="radio"]:disabled + i:before,
.radio input[type="radio"]:disabled:checked + i:before {
 color: #ddd;
}

/*QUESTIONNAIRE*/

h3.name-indicator-question {
    text-align: center;
}

p.name-question {
    text-align: center;
}

p.name-bp {
	text-align: center;
}

.service-wrapper.opportunity {
    text-align: center;
}

.alert.alert-warning {
    text-align: center;
    margin-top: 25px;
}

h4.sb-menu-title {
    margin-right: 20px;
}

/*.col-md-6.col-sm-6.col-md-offset-3.result-view {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 20px 0px black;
    border-radius: 10px;
}
*/

.container-fluid.saved-result:hover {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 3px 0px black;
    border-radius: 10px;
}


h1.title-saved-result {
    text-align: center;
}

h4.sb-menu-title:hover {
    color: white;
}

.spac-beetw {
    margin-bottom: 20px;
}

.alert.alert-success {
    text-align: center;
}

iframe#map {
    width: 650px;
}

textarea#id_message {
    height: 150px;
}



/* Main Button */
 .btn-main {
 border-radius: 100px;
 font-size: 13px;
 font-weight: bold;
 letter-spacing: 1px;
 padding: 17px 39px;
 text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);
 text-transform: uppercase;
 box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
 color: antiquewhite;
}

 .btn-secondary{
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#797b7f+0,b5b8bf+50,8e9397+51,8e9397+71,828589+100 */
 background: #797b7f;
 /* Old browsers */
 background: -moz-linear-gradient(-45deg, #797b7f 0%, #b5b8bf 50%, #8e9397 51%, #8e9397 71%, #828589 100%);
 /* FF3.6-15 */
 background: -webkit-linear-gradient(-45deg, #797b7f 0%,#b5b8bf 50%,#8e9397 51%,#8e9397 71%,#828589 100%);
 /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(135deg, #797b7f 0%,#b5b8bf 50%,#8e9397 51%,#8e9397 71%,#828589 100%);
 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#797b7f', endColorstr='#828589',GradientType=1 );
 /* IE6-9 fallback on horizontal gradient */
 background-size: 400% 400%;
 -webkit-animation: AnimationName 3s ease infinite;
 -moz-animation: AnimationName 3s ease infinite;
 animation: AnimationName 3s ease infinite;
 -webkit-animation: AnimationName 3s ease infinite;
 -moz-animation: AnimationName 3s ease infinite;
 animation: AnimationName 3s ease infinite;
 border: medium none;
}

 @-webkit-keyframes AnimationName {
 0%{
 background-position:0% 31%
 }
 50%{
 background-position:100% 70%
 }
 100%{
 background-position:0% 31%
 }
}
 @-moz-keyframes AnimationName {
 0%{
 background-position:0% 31%
 }
 50%{
 background-position:100% 70%
 }
 100%{
 background-position:0% 31%
 }
}
 @keyframes AnimationName {
 0%{
 background-position:0% 31%
 }
 50%{
 background-position:100% 70%
 }
 100%{
 background-position:0% 31%
 }
}
 .btn-outline-light:hover{
 color: #3f345f;
}
 .btn-outline-warning:hover{
 color: #ffffff;
}
 .btn-sm {
 font-size: 12px;
 padding: 11px 25px;
}
 .elements-page-btn .btn {
 margin: 6px 3px;
}

a.btn-main.btn-secondary:hover {
    color: mintcream;
}



button.btn.register {
    border-color: #6c757d;
    border-radius: 100px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
    padding: 11px 25px;
    font-size: 12px;
    color: #6c757d;
    background-color: transparent;
}

button.btn.register:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}


p.up-info {
    color: darkslategrey;
    letter-spacing: 1px;
    font-weight: bold;
}

li.up-in {
    padding: 3px;
}

p.up-info.act:hover {
    color: black;
    box-shadow: 0 0 0px 0px black;
    text-shadow: 1px 1px 2px lavenderblush;

}

h1.header-text {
    text-align: center;
}



/*
button register style*/
a.cust-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 6px;
  border: 2px solid grey;
  font-size: 24px;
  color: grey;
  transition: 0.5s;
  overflow: hidden;
}
a.cust-btn:hover {
  color: white;
}
a.cust-btn span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: grey;
  transition: 0.5s;
  z-index: -1;
}
a.cust-btn span:nth-child(1) {
  top: -100%;
  left: -100%;
}
a.cust-btn:hover span:nth-child(1) {
  top: 0;
  left: 0;
}
a.cust-btn span:nth-child(2) {
  bottom: -100%;
  left: -100%;
}
a.cust-btn:hover span:nth-child(2) {
  bottom: 0;
  left: 0;
}
a.cust-btn span:nth-child(3) {
  top: -100%;
  right: -100%;
}
a.cust-btn:hover span:nth-child(3) {
  top: 0;
  right: 0;
}
a.cust-btn span:nth-child(4) {
  bottom: -100%;
  right: -100%;
}
a.cust-btn:hover span:nth-child(4) {
  bottom: 0;
  right: 0;
}


/*
button choose indicator*/
.btn.chs-del{
    border-color: #6c757d;
    border-radius: 100px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
    padding: 11px 25px;
    font-size: 12px;
    color: mintcream;
    background-color: #797b7f;
}

.btn.chs-del:hover{
	background-color: #eee;
    color: currentcolor;
}

.btn.chs-del.addit-cls {
	background-color: #eee;
    color: currentcolor;
}

.btn.chs-del.addit-cls:hover {
    color: mintcream;
    background-color: #797b7f;
}


/*button to question list*/
a.go-choosen-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
/*  height: 60px;*/
  text-align: center;
/*  line-height: 60px;*/
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 1px solid #3b3c41;;
  font-size: 14px;
  color: #3b3c41;;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 100px;
  width: 65%;
  background-color: #eee;
  padding: 10px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);
	box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
}
a.go-choosen-list:hover {
  color: #fff;
}
a.go-choosen-list span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #797b7f;
  transition: 0.5s;
  z-index: -1;
}
a.go-choosen-list span:nth-child(1) {
  top: -100%;
  left: -100%;
}
a.go-choosen-list:hover span:nth-child(1) {
  top: 0;
  left: 0;
}
a.go-choosen-list span:nth-child(2) {
  bottom: -100%;
  left: -100%;
}
a.go-choosen-list:hover span:nth-child(2) {
  bottom: 0;
  left: 0;
}
a.go-choosen-list span:nth-child(3) {
  top: -100%;
  right: -100%;
}
a.go-choosen-list:hover span:nth-child(3) {
  top: 0;
  right: 0;
}
a.go-choosen-list span:nth-child(4) {
  bottom: -100%;
  right: -100%;
}
a.go-choosen-list:hover span:nth-child(4) {
  bottom: 0;
  right: 0;
}




.btn-grd-inverse.hor-grd {
 background-image: -webkit-gradient(linear, left bottom, left top, from(#4c626d), color-stop(51%, #1e272b), to(#4c626d));
 background-image: linear-gradient(to top, #ccc 0%, #777 51%, #ccc 100%);
}

.btn-grd-inverse {
 background-image: -webkit-gradient(linear, left top, right top, from(#4c626d), color-stop(51%, #1e272b), to(#4c626d));
 background-image: linear-gradient(to right, #4c626d 0%, #1e272b 51%, #4c626d 100%);
}

/*#ccc 0%, #777 51%, #ccc 100%*/

.btn-grd-inverse {
 background-size: 200% auto;
 -webkit-transition: 0.5s ease-in-out;
 transition: 0.5s ease-in-out;
 color: #fff;
 border-radius: 100px;
}

.btn-grd-inverse:hover {
 background-position: right center;
}

.btn-grd-inverse.hor-grd {
 background-size: auto 200%;
}

.btn-grd-inverse.hor-grd:hover{
 background-position: bottom center;
}

a.btn.waves-effect.waves-light.hor-grd.btn-grd-inverse {
    border: black;
    letter-spacing: 2px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);
	box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
}

/* map */
iframe#map-contact {
    box-shadow: 0 0 6px 0px #04344c;
    border-radius: 6px;
}

/* end map */