* {
	margin: 0;
	padding: 0;
}
.content {
	min-height: calc(100vh - 246px);
}

img.logo {
    width: 200px;
}

.event-day.castom {
    text-align: center;
}

td.event-price.hidden-xs {
    text-align: right;
}